{% extends "base.html" %}

{% block content %}
  <div class="container" style="margin-top: 40px;">
    <h2>SignUp</h2>
    <br>
    <form method="post" class="form-signin">
      {% csrf_token %}
      {{ form.as_p }}
      {% comment %} <div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>
      <br>
      <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
      </div>
      <br>
      <div class="form-group">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
      </div>
      <br>
      <div class="form-group">
        {{ form.password2.label_tag }}
        {{ form.password2 }}
      </div>
      <br> {% endcomment %}
      <button class="btn btn-primary" type="submit">Register</button>
      <a href="{% url 'login' %}">Already have account?</a>
    </form>
  </div>
{% endblock %}

{% comment %} <h1>Signup</h1>
 <form method="POST">
     {% csrf_token %}
     {{ form.as_p }}
     <button type="submit">Signup</button>
     <a href="{% url 'login' %}">Already have account?</a>
 </form>  {% endcomment %}