{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Search Feature -->
    <form method="get" action="{% url 'property_list' %}" class="mb-4">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search by title, city, price, location, description">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>

        {% if user.is_authenticated and user.role == 'client' %}
            <a href="{% url 'favorite_properties' %}" class="btn btn-warning favorite-btn">My Favorite Properties</a>
        {% endif %}

    </form>

    <!-- Property List -->
    <h1 class="d-flex justify-content-center">Here You Go:</h1>
    <ul class="list-group container mb-4">
        {% for property in properties %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6">
                        {% if property.photo %}
                            <img src="{{ property.photo.url }}" alt="{{ property.title }}" class="img-fluid" style="width: 100%; height: auto;">
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <h3><a href="{% url 'property_detail' property.id %}">{{ property.title }}</a></h3>
                        <p>City: {{ property.city }}</p>
                        <p>Price: ${{ property.price }}</p>
                        <p>Address: {{ property.address }}</p>
                        <p>Bedrooms: {{ property.num_bedrooms }}</p>
                        <p>Number of Floors: {{ property.num_floors }}</p>
                        <p>Square Feet: {{ property.square_feet }}</p>
                        {% if property.get_category_display %}
                            <p>Category: {{ property.get_category_display }}</p>
                        {% endif %}
                        {% if user.is_authenticated and user.role == 'client' %}
                            <form method="post" action="{% url 'property_detail' property.id %}" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Make an Enquiry</button>
                            </form>
                            {% comment %} <form method="post" action="{% url 'toggle_favorite' property.id %}" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-secondary">
                                    {% if property in favorite_properties %}
                                        Remove from Favorites
                                    {% else %}
                                        Add to Favorites
                                    {% endif %}
                                </button>
                            </form> {% endcomment %}
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <!-- Add Property Form -->
    {% if user.is_authenticated and user.role == 'agent' %}
        <h1 class="d-flex justify-content-center">Upload New Property</h1>
        <div class="container mb-4">
            <form method="post" enctype="multipart/form-data" action="{% url 'add_property' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
