{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <img src="{% if property.photo %}{{ property.photo.url }}{% else %}{% static 'default-image.jpg' %}{% endif %}" class="img-fluid" alt="{{ property.title }}">
    </div>
    <div class="col-md-4">
      <h2>Details</h2>
      <p><strong>City:</strong> {{ property.city }}</p>
      <p><strong>Price:</strong> ${{ property.price }}</p>
      <p><strong>Address:</strong> {{ property.address }}</p>
      <p><strong>Bedrooms:</strong> {{ property.num_bedrooms }}</p>
      <p><strong>Number of Floors:</strong> {{ property.num_floors }}</p>
      <p><strong>Square Feet:</strong> {{ property.square_feet }}</p>
      <p><strong>Category:</strong> {{ property.category }}</p>
      <p><strong>Description:</strong> {{ property.description }}</p>
      
      {% if user.role == 'client' %}
        <a href="{% url 'make_enquiry' property.id %}" class="btn btn-primary">Make an Inquiry</a>
        
        {% if is_favorite %}
            <form action="{% url 'toggle_favorite' property.id %}" method="post">
              {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Remove from Favorites</button>
            </form>
          {% else %}
            <form action="{% url 'toggle_favorite' property.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-secondary">Add to Favorites</button>
            </form>
        {% endif %}
    {% endif %}
    </div>
  </div>

  {% if user.role == 'agent' %}
    <div class="mt-4">
      <h3>Inquiries</h3>
      <ul>
        {% for inquiry in inquiries %}
          <li>{{ inquiry.message }} - {{ inquiry.client.username }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
{% endblock %}
